<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <!--
        使用默认 logback.xml or 无法读取yml文件参数, logback.xml 会在yml之前加载
        logback-spring.xml会生成 appName = bootstrap前置文件
    -->
    <springProperty name="appName" scope="context" source="spring.application.name"/>
    <!-- 这是基础配置 -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <!--定义日志文件的存储地址 勿在 logback 的配置中使用相对路径-->
    <property name="LOG_HOME" value="G:\\data\\spring"/>

    <!-- 按照每天生成日志文件 所有 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <!-- ch.qos.logback.core.rolling.FixedWindowRollingPolicy 回滚日志 每天都会被清理 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--日志文件输出的文件名-->
            <FileNamePattern>${LOG_HOME}/${appName}/%d{yyyy-MM}/%d{dd}/${appName}.all.log</FileNamePattern>
            <!--日志文件保留天数-->
            <!-- <MaxHistory>30</MaxHistory> -->
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!-- 使用原始格式化 -->
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符-->
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <!--日志文件最大的大小-->
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>500MB</MaxFileSize>
        </triggeringPolicy>
    </appender>

    <!-- 出错日志 appender  -->
    <appender name="ERROR" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按天回滚 daily -->
            <!-- log.dir 在maven profile里配置 -->
            <fileNamePattern>${LOG_HOME}/${appName}/%d{yyyy-MM}/%d{dd}/${appName}.error.log</fileNamePattern>
            <!-- 日志最大的历史 60天 -->
            <!--<maxHistory>60</maxHistory>-->
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>500MB</MaxFileSize>
        </triggeringPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- 警告日志 appender  -->
    <appender name="WARN" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${LOG_HOME}/${appName}/%d{yyyy-MM}/%d{dd}/${appName}.warn.log</fileNamePattern>
            <!-- 日志最大的历史 60天 -->
            <!--<maxHistory>60</maxHistory>-->
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>500MB</MaxFileSize>
        </triggeringPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
            <level>WARN</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- info日志 appender  -->
    <appender name="DEBUG" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按天回滚 daily -->
            <fileNamePattern>${LOG_HOME}/${appName}/%d{yyyy-MM}/%d{dd}/${appName}.debug.log</fileNamePattern>
            <!-- 日志最大的历史 60天 -->
            <!--<maxHistory>60</maxHistory>-->
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <!--日志文件最大的大小-->
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>500MB</MaxFileSize>
        </triggeringPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
            <level>DEBUG</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- info日志 appender  -->
    <appender name="INFO" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 按天回滚 daily -->
            <fileNamePattern>${LOG_HOME}/${appName}/%d{yyyy-MM}/%d{dd}/${appName}.info.log</fileNamePattern>
            <!-- 日志最大的历史 60天 -->
            <!--<maxHistory>60</maxHistory>-->
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
        <!--日志文件最大的大小-->
        <triggeringPolicy class="ch.qos.logback.core.rolling.SizeBasedTriggeringPolicy">
            <MaxFileSize>500MB</MaxFileSize>
        </triggeringPolicy>
        <filter class="ch.qos.logback.classic.filter.LevelFilter"><!-- 只打印错误日志 -->
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
    </appender>

    <!-- 日志输出级别 -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
        <!--<appender-ref ref="FILE"/>-->
        <!--<appender-ref ref="ERROR"/>-->
        <!--<appender-ref ref="WARN"/>-->
        <!--<appender-ref ref="DEBUG"/>-->
        <!--<appender-ref ref="INFO"/>-->
    </root>

    <!-- additivity 不需要重复打印 -->
    <logger name="com.wechat" additivity="false">
        <level value="DEBUG"/>
        <appender-ref ref="CONSOLE"/>
        <!--<appender-ref ref="ERROR"/>-->
        <!--<appender-ref ref="WARN"/>-->
        <!--<appender-ref ref="DEBUG"/>-->
        <!--<appender-ref ref="INFO"/>-->
    </logger>
    <!-- jmx 动态日志 -->
    <jmxConfigurator/>
</configuration>
