<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

    <!-- 这是基础配置 -->
    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- 日志输出级别 -->
    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="com.aliyun.openservices" additivity="false" level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </logger>

</configuration>
