<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties">
        <property name="org.apache.ibatis.parsing.PropertyParser.enable-default-value" value="true"/> <!-- 启用默认值特性 -->
    </properties>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${mysql.jdbc.driverClassName}"/>
                <property name="url" value="${mysql.jdbc.url}"/>
                <property name="username" value="${mysql.jdbc.username:root}"/>
                <property name="password" value="${mysql.jdbc.password:root}"/>
            </dataSource>
        </environment>
    </environments>
    <!--<settings>-->
        <!--<setting name="typeAliases" value=""/>-->
    <!--</settings>-->
    <mappers>
        <mapper resource="mapper/CustomerMapper.xml"/>
    </mappers>
</configuration>